.tableContainer {
  margin-bottom: 27px;
}

table {
  box-sizing: border-box;
  padding: 0;
  border-spacing: 0 1px !important;
  width: 828px;
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 105%;
  text-align: center;
  color: #393535;
  border-radius: 10px;
}

tr {
  box-sizing: border-box;
  height: 38px;
  background-color: rgba(220, 220, 220, 1);
}

tr:nth-child(1),
tr:nth-child(2),
tr:nth-child(3) {
  background-color: rgba(243, 243, 243, 1);
}

tr:nth-last-child(1) {
  border-radius: 0px 0px 10px 10px;
}

tr:nth-last-child(1) > td:nth-last-child(1) {
  border-radius: 0px 0px 10px 0px;
}

tr:nth-last-child(1) > td:nth-child(1) {
  border-radius: 0px 0px 0px 10px;
}

th {
  background-color: white;
  font-weight: 700;
  border-radius: 10px 10px 0px 0px;
}

.badge {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.badge--first {
  background-image: url(../assets/images/badge_first.png);
}

.badge--second {
  background-image: url(../assets/images/badge_second.png);
}

.badge--third {
  background-image: url(../assets/images/badge_third.png);
}

.tableFire {
  position: absolute;
  z-index: -1;
  width: 828px;
  transform: translateY(-7.5em);
}
