.AppContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 126px 0 0 0;
}

.title {
  color: #fcc211;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-family: "AA BadaBoom BB";
  font-style: normal;
  font-weight: 400;
  font-size: 4.375em;
}

.title--table {
  font-size: 2.1875em;
  margin-top: 46px;
  margin-bottom: 68px;
}

.description {
  color: #ffffff;
  font-weight: 400;
  font-size: 1.125em;
  line-height: 150%;
  text-align: center;
  margin-bottom: 15px;
}

.button {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: white;
  background: #e93e3a;
  width: 224px;
  height: 50px;
  border-radius: 15px;
  margin-bottom: 30px;
}
.button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  border-radius: 15px;
  width: 224px;
  background: #e93e3a;
  transform: skewX(10deg);
  z-index: -1;
}
.button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  border-radius: 15px;
  width: 224px;
  background: #e93e3a;
  transform: skewX(-10deg);
  z-index: -1;
}

.button--showResults {
  background-color: #ffffff;
  color: #05071a;
  margin-bottom: 51px;
}

.button--showResults:after {
  content: "";
  background-color: #ffffff;
  right: 19px;
}

.button--showResults:before {
  content: "";
  background-color: #ffffff;
  left: 19px;
}

.winnerContainer {
  /* font-size: 0.5em; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 2.5em;
}

.yellow {
  color: #fcc211;
  font-size: 1.3125em;
}

.yellow--small {
  position: relative;
  font-size: 1em;
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.decoration {
  content: " ";
  position: relative;
  width: 0.2em;
  height: 0.2em;
  border: 1px solid #fcc211;
  transform: rotate(45deg);
}

.decoration--before::before {
  content: " ";
  position: absolute;
  left: 0;
  transform: translate(-2.595em, 1.25em) rotate(135deg);
  width: 3em;
  height: 1px;
  background: linear-gradient(0.25turn, #fcc211, #000000);
}

.decoration--after::after {
  content: " ";
  position: absolute;
  left: 0;
  transform: translate(-0.25em, -1.1em) rotate(-45deg);
  width: 3em;
  height: 1px;
  background: linear-gradient(0.25turn, #fcc211, #000000);
}

.secondFont {
  font-size: 1.3125em;
}

div[class^="Place"] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div[class^="Place"] > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 10px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  color: white;
}

.Place_first {
  background: linear-gradient(
    180deg,
    rgba(48, 33, 67, 0) 0%,
    rgba(255, 184, 74, 0.2) 68%,
    transparent 50%,
    transparent 100%
  );
  filter: drop-shadow(0px 0.3125em 0.9375em rgba(76, 62, 102, 0.15));
  border-radius: 5px;
}

.winContainer--first {
  position: relative;
  width: 11.875em;
  height: 8.75em;
}

.winContainer--first::before {
  content: " ";
  position: absolute;
  width: 11.375em;
  height: 8.75em;
  border: 1px solid yellow;
  background-color: #05071a;
  border-radius: 10px 40px 10px 10px;
  z-index: -1;
  transform-origin: bottom;
  transform: skew(2deg, 0);
  /* transform: rotate(3deg) skew(2deg, 0); */
  bottom: 0;
  right: 0.1em;
}

.winContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
}

.winContainer--first::after {
  content: " ";
  position: absolute;
  width: 11em;
  height: 8.75em;
  border: 1px solid yellow;
  border-left: none;
  background-color: #05071a;
  border-radius: 0 10px 10px 0;
  z-index: -1;
  transform-origin: bottom;
  transform: skew(-1.5deg, 0);
  bottom: 0;
  right: 0.1em;
}

.Place_second {
  background: linear-gradient(
    180deg,
    rgba(48, 33, 67, 0) 0%,
    rgba(217, 208, 228, 0.2) 64%,
    transparent 50%,
    transparent 100%
  );
  filter: drop-shadow(0px 0.3125em 0.9375em rgba(76, 62, 102, 0.15));
  border-radius: 5px;
}

.winContainer--second {
  position: relative;
  width: 11.5em;
  height: 8.875em;
  top: -0.25em;
}

.winContainer--second::before {
  content: " ";
  position: absolute;
  width: 6em;
  height: 8.875em;
  border: 1px solid rgba(199, 199, 199, 1);
  background-color: #05071a;
  border-radius: 10px;
  z-index: -1;
  transform-origin: right;
  transform: skew(0, 2deg);
  top: 0;
  right: 0;
}

.winContainer--second::after {
  content: " ";
  position: absolute;
  width: 10.95em;
  height: 8.875em;
  border: 1px solid rgba(199, 199, 199, 1);
  background-color: #05071a;
  border-radius: 10px 0 10px 10px;
  border-right: none;
  z-index: -1;
  transform-origin: right;
  transform: skew(3deg, 2deg);
  top: 0;
  right: 0.3em;
}

.Place_third {
  background: linear-gradient(
    180deg,
    rgba(48, 33, 67, 0) 0%,
    rgba(238, 202, 148, 0.2) 64%,
    transparent 50%,
    transparent 100%
  );
  filter: drop-shadow(0px 0.3125em 0.9375em rgba(76, 62, 102, 0.15));
  border-radius: 5px;
}

.winContainer--third {
  position: relative;
  width: 11.5em;
  height: 8.875em;
  top: -0.25em;
}

.winContainer--third::before {
  content: " ";
  position: absolute;
  width: 6em;
  height: 8.875em;
  border: 1px solid rgba(190, 141, 105, 1);
  background-color: #05071a;
  border-radius: 10px;
  z-index: -1;
  transform-origin: left;
  transform: skew(0, -2deg);
  top: 0;
  left: 0;
}

.winContainer--third::after {
  content: " ";
  position: absolute;
  width: 11.05em;
  height: 8.875em;
  border: 1px solid rgba(190, 141, 105, 1);
  background-color: #05071a;
  border-radius: 0 10px 10px 10px;
  border-left: none;
  z-index: -1;
  transform-origin: left;
  transform: skew(-3deg, -2deg);
  top: 0;
  left: 0.3em;
}

.nickname {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875em;
  width: 6.5em;
  height: 1.875em;
  border-radius: 10px;
  color: black !important;
  font-weight: 400 !important;
  transform: translate(0, -5.2em);
}

.nickname--first {
  background-color: yellow !important;
}

.nickname--second {
  background-color: rgba(199, 199, 199, 1) !important;
}

.nickname--third {
  background-color: rgba(190, 141, 105, 1) !important;
}

img {
  margin-bottom: 1.687em;
  width: 9.5em;
  height: 12.25em;
}
