.AppContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 126px 0 0 0;
}

.title {
  color: #FCC211;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-family: 'AA BadaBoom BB';
  font-style: normal;
  font-weight: 400;
  font-size: 4.375em; 
  /* font-size: 70px;  */
}

.title--table {
  font-size: 2.1875em;
  margin-top: 46px;
  margin-bottom: 68px;
}

.description {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 1.125em;
  line-height: 150%;
  text-align: center;
}

.joinButton {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: #E93E3A;
  width: 224px;
  height: 50px;
  border-radius: 15px;
}
.joinButton:after {
  content: "";
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  border-radius: 15px;
  width: 224px;
  background: #E93E3A;
  transform: skewX(10deg);
  z-index: -1;
}
.joinButton:before {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  border-radius: 15px;
  width: 224px;
  background: #E93E3A;
  transform: skewX(-10deg);
  z-index: -1;
}

.winnerContainer {
  /* font-size: 0.5em; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 2.5em;
}

.yellow {
  color: #FCC211;
  font-size: 1.3125em;
}

.yellow--small{
  font-size: 1em;
}

.secondFont{
  font-size: 1.3125em;
}

div[class^=Place] {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div[class^=Place] > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: #05071A;
  border-radius: 10px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  color: white;
}

.Place_first {
  background: linear-gradient(180deg, rgba(48, 33, 67, 0) 0%, rgba(255, 184, 74, 0.3));
  filter: drop-shadow(0px 0.3125em 0.9375em rgba(76, 62, 102, 0.15));
  border-radius: 5px;
}


.winContainer--first {
  width: 11.875em;
  height: 8.75em;
  border: 1px solid yellow;
}


.Place_second {
  background: linear-gradient(180deg, rgba(48, 33, 67, 0) 0%, rgba(217, 208, 228, 0.3));
  filter: drop-shadow(0px 0.3125em 0.9375em rgba(76, 62, 102, 0.15));
  border-radius: 5px;
}

.winContainer--second {
  width: 11.5em;
  height: 8.875em;
  border: 1px solid rgba(199, 199, 199, 1);
}

.Place_third {
background: linear-gradient(180deg, rgba(48, 33, 67, 0) 0%, rgba(238, 202, 148, 0.3));
filter: drop-shadow(0px 0.3125em 0.9375em rgba(76, 62, 102, 0.15));
border-radius: 5px;
}

.winContainer--third {
  width: 11.5em;
  height: 8.875em;
  border: 1px solid rgba(190, 141, 105, 1);
}

.nickname {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875em;
  width: 6.5em;
  height: 1.875em;
  border-radius: 10px;
  color: black !important;
  font-weight: 400 !important;
  transform: translate(50%, -4.4375em);
}

.nickname--first {
  background-color: yellow !important;
}

.nickname--second {
  background-color: rgba(199, 199, 199, 1) !important;
}

.nickname--third {
  background-color: rgba(190, 141, 105, 1) !important;
}