body {
  margin: 0;
  padding: 0;
  background-image: url(./assets/images/Top_Background.svg),
    url(./assets/images/Character_Left.png),
    url(./assets/images/Character_Right.png),
    url(./assets/images/02_TrollsBridge2_Background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top, left, right, center;
  background-size: 100% auto, auto, auto, cover;
}

* {
  font-family: "Merriweather Sans";
}

@font-face {
  font-family: AA BadaBoom BB;
  src: url(./assets/fonts/AA\ BadaBoom\ BB\ Regular.ttf);
}

@font-face {
  font-family: Merriweather Sans;
  src: url(./assets/fonts/MerriweatherSans-Regular.ttf);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
